-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: solufeed_el_choli
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ajuste_animales_pendiente`
--

DROP TABLE IF EXISTS `ajuste_animales_pendiente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ajuste_animales_pendiente` (
  `id_ajuste` int(11) NOT NULL AUTO_INCREMENT,
  `id_pesada` int(11) NOT NULL,
  `id_tropa` int(11) NOT NULL,
  `diferencia_animales` int(11) NOT NULL,
  `motivo_operario` text DEFAULT NULL,
  `estado` enum('PENDIENTE','APROBADO','RECHAZADO') NOT NULL DEFAULT 'PENDIENTE',
  `fecha_creacion` datetime NOT NULL,
  `id_usuario_admin_validador` int(11) DEFAULT NULL,
  `fecha_validacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_ajuste`),
  KEY `fk_ajuste_pesada` (`id_pesada`),
  KEY `fk_ajuste_tropa` (`id_tropa`),
  KEY `fk_ajuste_admin` (`id_usuario_admin_validador`),
  CONSTRAINT `fk_ajuste_admin` FOREIGN KEY (`id_usuario_admin_validador`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `fk_ajuste_pesada` FOREIGN KEY (`id_pesada`) REFERENCES `pesada` (`id_pesada`),
  CONSTRAINT `fk_ajuste_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajuste_animales_pendiente`
--

LOCK TABLES `ajuste_animales_pendiente` WRITE;
/*!40000 ALTER TABLE `ajuste_animales_pendiente` DISABLE KEYS */;
INSERT INTO `ajuste_animales_pendiente` VALUES (1,19,4,-1,'1 muerte','APROBADO','2026-02-22 17:01:12',NULL,NULL);
/*!40000 ALTER TABLE `ajuste_animales_pendiente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campo`
--

DROP TABLE IF EXISTS `campo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campo` (
  `id_campo` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `ubicacion` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_campo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campo`
--

LOCK TABLES `campo` WRITE;
/*!40000 ALTER TABLE `campo` DISABLE KEYS */;
INSERT INTO `campo` VALUES (1,'Campo Norte','San Benito, Entre R├¡os',1),(2,'Campo Sur','Ruta 127 Km 45',1),(3,'El Pingo','Ruta 12 cruce ruta 127',0);
/*!40000 ALTER TABLE `campo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ciclo_engorde`
--

DROP TABLE IF EXISTS `ciclo_engorde`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ciclo_engorde` (
  `id_ciclo` int(11) NOT NULL AUTO_INCREMENT,
  `id_tropa` int(11) NOT NULL,
  `id_pesada_inicio` int(11) NOT NULL,
  `id_pesada_fin` int(11) DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `estado` enum('ABIERTO','CERRADO') NOT NULL DEFAULT 'ABIERTO',
  `fecha_creacion` datetime NOT NULL,
  `fecha_cierre` datetime DEFAULT NULL,
  PRIMARY KEY (`id_ciclo`),
  KEY `fk_ciclo_tropa` (`id_tropa`),
  KEY `fk_ciclo_pesada_inicio` (`id_pesada_inicio`),
  KEY `fk_ciclo_pesada_fin` (`id_pesada_fin`),
  CONSTRAINT `fk_ciclo_pesada_fin` FOREIGN KEY (`id_pesada_fin`) REFERENCES `pesada` (`id_pesada`),
  CONSTRAINT `fk_ciclo_pesada_inicio` FOREIGN KEY (`id_pesada_inicio`) REFERENCES `pesada` (`id_pesada`),
  CONSTRAINT `fk_ciclo_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ciclo_engorde`
--

LOCK TABLES `ciclo_engorde` WRITE;
/*!40000 ALTER TABLE `ciclo_engorde` DISABLE KEYS */;
/*!40000 ALTER TABLE `ciclo_engorde` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consumo_lote`
--

DROP TABLE IF EXISTS `consumo_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consumo_lote` (
  `id_consumo` int(11) NOT NULL AUTO_INCREMENT,
  `id_tropa` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `hora` time NOT NULL,
  `numero_alimentacion_dia` int(11) NOT NULL,
  `sobrante_nivel` enum('SIN_SOBRAS','POCAS_SOBRAS','NORMAL','MUCHAS_SOBRAS') NOT NULL,
  `kg_totales_tirados` decimal(12,3) NOT NULL,
  `animales_presentes` int(11) NOT NULL,
  `origen_registro` enum('OFFLINE','ONLINE') NOT NULL DEFAULT 'OFFLINE',
  `fecha_sincronizacion` datetime DEFAULT NULL,
  `fecha_creacion` datetime NOT NULL,
  PRIMARY KEY (`id_consumo`),
  KEY `fk_consumo_tropa` (`id_tropa`),
  KEY `fk_consumo_usuario` (`id_usuario`),
  CONSTRAINT `fk_consumo_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`),
  CONSTRAINT `fk_consumo_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumo_lote`
--

LOCK TABLES `consumo_lote` WRITE;
/*!40000 ALTER TABLE `consumo_lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumo_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consumo_lote_detalle`
--

DROP TABLE IF EXISTS `consumo_lote_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consumo_lote_detalle` (
  `id_consumo` int(11) NOT NULL,
  `id_insumo` int(11) NOT NULL,
  `kg_sugeridos` decimal(12,3) DEFAULT NULL,
  `kg_reales` decimal(12,3) NOT NULL,
  `porcentaje_real` decimal(6,3) DEFAULT NULL,
  `kg_ms` decimal(12,3) DEFAULT NULL,
  PRIMARY KEY (`id_consumo`,`id_insumo`),
  KEY `fk_cld_insumo` (`id_insumo`),
  CONSTRAINT `fk_cld_consumo` FOREIGN KEY (`id_consumo`) REFERENCES `consumo_lote` (`id_consumo`),
  CONSTRAINT `fk_cld_insumo` FOREIGN KEY (`id_insumo`) REFERENCES `insumo` (`id_insumo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumo_lote_detalle`
--

LOCK TABLES `consumo_lote_detalle` WRITE;
/*!40000 ALTER TABLE `consumo_lote_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumo_lote_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dieta`
--

DROP TABLE IF EXISTS `dieta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dieta` (
  `id_dieta` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `fecha_creacion` datetime NOT NULL,
  `fecha_actualizacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_dieta`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dieta`
--

LOCK TABLES `dieta` WRITE;
/*!40000 ALTER TABLE `dieta` DISABLE KEYS */;
INSERT INTO `dieta` VALUES (1,'Engorde Intensivo','Dieta alta energ├¡a para terminaci├│n',1,'2025-11-19 18:10:01',NULL),(2,'Crecimiento','Dieta balanceada para novillos en crecimiento',1,'2025-11-19 18:10:01',NULL),(3,'Recr├¡a','Dieta econ├│mica para recr├¡a de terneros',1,'2025-11-19 18:10:01',NULL),(4,'Prueba Dieta','pa hacerlo enojar a migue',1,'2025-11-19 18:59:19',NULL),(5,'Balanceado','1111',1,'2025-11-20 15:40:38',NULL),(6,'Prueba dieta archivada','Esta carga se hizo para ver si en el grid de dietas , tambien muestra las dietas que no estan activas',0,'2026-02-22 01:50:05',NULL);
/*!40000 ALTER TABLE `dieta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dieta_detalle`
--

DROP TABLE IF EXISTS `dieta_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dieta_detalle` (
  `id_dieta` int(11) NOT NULL,
  `id_insumo` int(11) NOT NULL,
  `porcentaje_teorico` decimal(6,3) NOT NULL,
  PRIMARY KEY (`id_dieta`,`id_insumo`),
  KEY `fk_dietadet_insumo` (`id_insumo`),
  CONSTRAINT `fk_dietadet_dieta` FOREIGN KEY (`id_dieta`) REFERENCES `dieta` (`id_dieta`),
  CONSTRAINT `fk_dietadet_insumo` FOREIGN KEY (`id_insumo`) REFERENCES `insumo` (`id_insumo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dieta_detalle`
--

LOCK TABLES `dieta_detalle` WRITE;
/*!40000 ALTER TABLE `dieta_detalle` DISABLE KEYS */;
INSERT INTO `dieta_detalle` VALUES (1,1,50.000),(1,3,30.000),(1,6,15.000),(1,8,4.000),(1,10,1.000),(2,1,35.000),(2,3,40.000),(2,4,15.000),(2,7,8.000),(2,10,2.000),(3,2,25.000),(3,3,50.000),(3,5,20.000),(3,10,5.000),(4,1,20.000),(4,6,50.000),(4,7,30.000),(5,1,25.000),(5,4,25.000),(5,6,25.000),(5,7,25.000),(6,1,10.000),(6,4,30.000),(6,6,20.000),(6,7,40.000);
/*!40000 ALTER TABLE `dieta_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicador_ciclo`
--

DROP TABLE IF EXISTS `indicador_ciclo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indicador_ciclo` (
  `id_ciclo` int(11) NOT NULL,
  `peso_inicial` decimal(8,2) NOT NULL,
  `peso_final` decimal(8,2) NOT NULL,
  `peso_medio` decimal(8,2) NOT NULL,
  `dias_engorde` int(11) NOT NULL,
  `kilos_producidos` decimal(10,2) NOT NULL,
  `cms_diario` decimal(10,3) NOT NULL,
  `cms_porcentaje_pv` decimal(6,3) NOT NULL,
  `adpv` decimal(6,3) NOT NULL,
  `ec` decimal(6,3) NOT NULL,
  `porcentaje_mortandad` decimal(5,2) NOT NULL,
  `fecha_calculo` datetime NOT NULL,
  PRIMARY KEY (`id_ciclo`),
  CONSTRAINT `fk_indicador_ciclo` FOREIGN KEY (`id_ciclo`) REFERENCES `ciclo_engorde` (`id_ciclo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicador_ciclo`
--

LOCK TABLES `indicador_ciclo` WRITE;
/*!40000 ALTER TABLE `indicador_ciclo` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicador_ciclo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo`
--

DROP TABLE IF EXISTS `insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `insumo` (
  `id_insumo` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `tipo` varchar(50) DEFAULT NULL,
  `costo_kg` decimal(12,4) DEFAULT NULL,
  `porcentaje_ms` decimal(5,2) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `fecha_creacion` datetime NOT NULL,
  `fecha_actualizacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_insumo`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo`
--

LOCK TABLES `insumo` WRITE;
/*!40000 ALTER TABLE `insumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimiento_animal`
--

DROP TABLE IF EXISTS `movimiento_animal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movimiento_animal` (
  `id_movimiento` int(11) NOT NULL AUTO_INCREMENT,
  `id_tropa` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `tipo_movimiento` enum('ENTRADA','SALIDA','BAJA','TRASLADO','AJUSTE_POSITIVO','AJUSTE_NEGATIVO') NOT NULL,
  `cantidad` int(11) NOT NULL,
  `motivo` text DEFAULT NULL,
  `id_tropa_origen` int(11) DEFAULT NULL,
  `id_tropa_destino` int(11) DEFAULT NULL,
  `id_usuario_admin` int(11) NOT NULL,
  `id_ajuste` int(11) DEFAULT NULL,
  `fecha_creacion` datetime NOT NULL,
  PRIMARY KEY (`id_movimiento`),
  KEY `fk_mov_tropa` (`id_tropa`),
  KEY `fk_mov_admin` (`id_usuario_admin`),
  KEY `fk_mov_tropa_origen` (`id_tropa_origen`),
  KEY `fk_mov_tropa_destino` (`id_tropa_destino`),
  KEY `fk_mov_ajuste` (`id_ajuste`),
  CONSTRAINT `fk_mov_admin` FOREIGN KEY (`id_usuario_admin`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `fk_mov_ajuste` FOREIGN KEY (`id_ajuste`) REFERENCES `ajuste_animales_pendiente` (`id_ajuste`),
  CONSTRAINT `fk_mov_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`),
  CONSTRAINT `fk_mov_tropa_destino` FOREIGN KEY (`id_tropa_destino`) REFERENCES `tropa` (`id_tropa`),
  CONSTRAINT `fk_mov_tropa_origen` FOREIGN KEY (`id_tropa_origen`) REFERENCES `tropa` (`id_tropa`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimiento_animal`
--

LOCK TABLES `movimiento_animal` WRITE;
/*!40000 ALTER TABLE `movimiento_animal` DISABLE KEYS */;
INSERT INTO `movimiento_animal` VALUES (1,4,'2026-02-22','AJUSTE_NEGATIVO',1,'Validaci├│n de Pesada: 1 muerte',NULL,NULL,1,NULL,'2026-02-22 17:11:14');
/*!40000 ALTER TABLE `movimiento_animal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesada`
--

DROP TABLE IF EXISTS `pesada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pesada` (
  `id_pesada` int(11) NOT NULL AUTO_INCREMENT,
  `id_tropa` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `peso_promedio` decimal(8,2) NOT NULL,
  `animales_esperados` int(11) NOT NULL,
  `animales_vistos` int(11) NOT NULL,
  `hay_diferencia` tinyint(1) NOT NULL DEFAULT 0,
  `origen_registro` enum('OFFLINE','ONLINE') NOT NULL DEFAULT 'OFFLINE',
  `fecha_sincronizacion` datetime DEFAULT NULL,
  `fecha_creacion` datetime NOT NULL,
  PRIMARY KEY (`id_pesada`),
  KEY `fk_pesada_tropa` (`id_tropa`),
  KEY `fk_pesada_usuario` (`id_usuario`),
  CONSTRAINT `fk_pesada_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`),
  CONSTRAINT `fk_pesada_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesada`
--

LOCK TABLES `pesada` WRITE;
/*!40000 ALTER TABLE `pesada` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesada` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tropa`
--

DROP TABLE IF EXISTS `tropa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tropa` (
  `id_tropa` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `id_campo` int(11) DEFAULT NULL,
  `categoria` varchar(50) DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `cantidad_inicial` int(11) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `fecha_creacion` datetime NOT NULL,
  `fecha_actualizacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_tropa`),
  KEY `fk_tropa_campo` (`id_campo`),
  CONSTRAINT `fk_tropa_campo` FOREIGN KEY (`id_campo`) REFERENCES `campo` (`id_campo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tropa`
--

LOCK TABLES `tropa` WRITE;
/*!40000 ALTER TABLE `tropa` DISABLE KEYS */;
INSERT INTO `tropa` VALUES (1,'Novillos Lote 1',3,'Novillos 350-400kg','2024-11-01',50,1,'2025-11-19 18:10:01',NULL),(2,'Novillos Lote 2',1,'Novillos 280-320kg','2024-11-01',45,1,'2025-11-19 18:10:01',NULL),(3,'Terneros Recr├¡a',2,'Terneros 180-220kg','2024-11-10',60,1,'2025-11-19 18:10:01',NULL),(4,'Prueba Lote',1,'Prueba','2025-11-19',40,1,'2025-11-19 21:26:11','2025-11-20 15:43:18'),(5,'Prueba Lote Inactivo',2,'Esta carga es para ver si se ve en el grid de lote','2026-02-22',100,0,'2026-02-22 01:04:43',NULL);
/*!40000 ALTER TABLE `tropa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tropa_dieta_asignada`
--

DROP TABLE IF EXISTS `tropa_dieta_asignada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tropa_dieta_asignada` (
  `id_tropa_dieta` int(11) NOT NULL AUTO_INCREMENT,
  `id_tropa` int(11) NOT NULL,
  `id_dieta` int(11) NOT NULL,
  `fecha_desde` date NOT NULL,
  `fecha_hasta` date DEFAULT NULL,
  PRIMARY KEY (`id_tropa_dieta`),
  KEY `fk_tropadieta_tropa` (`id_tropa`),
  KEY `fk_tropadieta_dieta` (`id_dieta`),
  CONSTRAINT `fk_tropadieta_dieta` FOREIGN KEY (`id_dieta`) REFERENCES `dieta` (`id_dieta`),
  CONSTRAINT `fk_tropadieta_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tropa_dieta_asignada`
--

LOCK TABLES `tropa_dieta_asignada` WRITE;
/*!40000 ALTER TABLE `tropa_dieta_asignada` DISABLE KEYS */;
INSERT INTO `tropa_dieta_asignada` VALUES (1,1,1,'2024-11-01',NULL),(2,2,2,'2024-11-01',NULL),(3,3,3,'2024-11-10',NULL),(4,4,3,'2025-11-19','2025-11-20'),(5,4,5,'2025-11-20',NULL),(6,5,3,'2026-02-22',NULL);
/*!40000 ALTER TABLE `tropa_dieta_asignada` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `tipo` enum('ADMIN','CAMPO') NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `fecha_creacion` datetime NOT NULL,
  `fecha_actualizacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'Administrador','admin@solufeed.com','$2y$10$sOf3ly.plT7WLAaz08248OeEQgZBYnhjpO4LL4b9aQ/hSSqZgElne','ADMIN',1,'2025-11-19 18:10:01',NULL),(2,'Juan Operario','operario@solufeed.com','$2y$10$tuZY1Qwkhv5uV1hoB1qrH.0y2hvxqzFJhhZ6QfJ1LimEkU14OyPfi','CAMPO',1,'2025-11-19 18:10:01',NULL),(3,'Operario Campo','campo@solufeed.com','$2y$10$ndssdo/gEcuGt/Y4YjRKs.ibiYmeMlyNRdp4GKCsmN7ePUmsshjSy','CAMPO',1,'2025-12-31 01:24:38',NULL),(4,'Esteban Quito','esteban@solufeed.com','$2y$10$jXeMnLCqYlrhwJG5jDbmaefMSOs92F7BG9.pYx.gR0mKZ7lWq1KN.','ADMIN',0,'2026-01-25 10:48:08',NULL);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_tropa`
--

DROP TABLE IF EXISTS `usuario_tropa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_tropa` (
  `id_usuario` int(11) NOT NULL,
  `id_tropa` int(11) NOT NULL,
  `fecha_asignacion` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_usuario`,`id_tropa`),
  KEY `fk_ut_tropa` (`id_tropa`),
  CONSTRAINT `fk_ut_tropa` FOREIGN KEY (`id_tropa`) REFERENCES `tropa` (`id_tropa`) ON DELETE CASCADE,
  CONSTRAINT `fk_ut_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_tropa`
--

LOCK TABLES `usuario_tropa` WRITE;
/*!40000 ALTER TABLE `usuario_tropa` DISABLE KEYS */;
INSERT INTO `usuario_tropa` VALUES (2,3,'2026-01-25 11:15:31'),(3,1,'2026-01-25 11:15:17'),(3,2,'2026-01-25 11:15:17'),(3,4,'2026-01-25 11:15:17');
/*!40000 ALTER TABLE `usuario_tropa` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-22 19:23:41
